include *.txt
include VERSION
include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
include tstoolbox/skill_metrics/README_SkillMetrics.txt
include tstoolbox/skill_metrics/LICENSE_SkillMetrics.txt
